#highlights {
  margin: 0 100px;
}
.highlight-title button{
  margin: 0;
  width: 150px;
}
.highlight-title {
  width: 100%;
  margin: 70px 0 30px 0;
  display: flex;
  justify-content: space-between;
}
.highlight-title h3 {
  color: #000000 !important;
}

#specials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.card-container {
  width: calc(100% / 3);
  height: 500px;
  display: flex;
  gap: 0;
  flex-direction: column;
  overflow: hidden !important;
}
.card-container img {
  height: 182px;
  width: 100%;
  border-start-start-radius: 8px;
  border-start-end-radius: 8px;
  margin: 0;
  transition: all ease-in 500ms;
}
.card-container img:hover {
  transform: scaleX(1.1);
}
.card-body {
  height: 200px;
  width: 90%;
  padding: 20px 5%;
  background: #e8e8e8;
}
.card-title {
  margin: 0 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-title h6 {
  font-size: 24px;
  font-weight: 900;
  color: #000000;
}
.card-title p {
  color: #ff0000;
  font-size: 24px;
  font-weight: bold;
}
.card-body > p {
  text-align: justify;
  height: 117.07px;
  margin: 5px auto;
}
.card-container:nth-child(even) .cta{
  padding: 0;
}
.cta {
  padding: 20px 0;
  font-size: 20px;
  font-weight: 700;
}
.cta a {
  text-decoration: underline 5px #f4ce14 !important;
  width: 100%;
  margin-right: 20px;
  color: #000000;
}
.cta a:hover,
.cta a:active {
  color: #495e57 !important;
}

@media screen and (max-width: 479px) {
  #highlights {
    width: calc(11/12*100%);
    margin: auto;
  }
  .highlight-title {
    margin: 20px 0;
  }
  .highlight-title h3 {
    font-size: 30px;
    text-align: center;
  }
  .highlight-title button {
    display: none;
  }
  #specials {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  .card-container {
    width: 100%;
    height: auto;
    display: flex;
    gap: 0;
    flex-direction: column;
  }
}
@media only screen and (min-width: 478px) and (max-width: 767px) {
  #highlights {
    width: calc(11/12*100%);
    margin: auto;
  }
  .highlight-title {
    margin: 20px 0;
  }
  .highlight-title h3 {
    font-size: 36px;
    text-align: center;
  }
  #specials {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  .card-container {
    width: 100%;
    height: auto;
    display: flex;
    gap: 0;
    flex-direction: column;
  }
  .card-container img {
    height: auto;
    max-height: 250px;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #highlights {
    width: calc(11/12*100%);
    margin: auto;
  }
  .highlight-title {
    margin: 20px 0;
  }
  #specials {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  .card-container {
    width: 100%;
    height: auto;
    display: flex;
    gap: 0;
    flex-direction: column;
  }
  .card-container img {
    height: auto;
    max-height: 350px;
    width: 100%;
  }
}
/*
@media only screen and (min-width: 992px) and (max-width: 1399px) {
  #highlights {
    margin-left: 20px;
    margin-right: 20px;
  }
  #specials {
    gap: 40px;
    margin-bottom: 20px;
    width: 100%;
  }
  .card-container {
    width: 100%;
    height: auto;
    display: flex;
    gap: 0;
    flex-direction: column;
  }
  .card-container img {
    height: auto;
    min-height: 300px;
    max-height: 500px;
    width: 100%;
  }
}
